<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.system.mapper.notification.NotificationReceiverMapper">
    
    <resultMap type="NotificationReceiver" id="NotificationReceiverResult">
        <result property="receiverId"    column="receiver_id"    />
        <result property="notificationId"    column="notification_id"    />
        <result property="receiveType"    column="receive_type"    />
        <result property="receiveData"    column="receive_data"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>
    
    <!-- 根據通知 ID 查詢接收對象列表 -->
    <select id="selectByNotificationId" parameterType="Long" resultMap="NotificationReceiverResult">
        select receiver_id, notification_id, receive_type, receive_data, create_time 
        from notification_receiver 
        where notification_id = #{notificationId}
    </select>
    
    <!-- 新增接收對象 -->
    <insert id="insert" parameterType="NotificationReceiver" useGeneratedKeys="true" keyProperty="receiverId">
        insert into notification_receiver
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="notificationId != null">notification_id,</if>
            <if test="receiveType != null">receive_type,</if>
            <if test="receiveData != null">receive_data,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="notificationId != null">#{notificationId},</if>
            <if test="receiveType != null">#{receiveType},</if>
            <if test="receiveData != null">#{receiveData},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>
    
</mapper>
