<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.system.mapper.notification.NotificationCcMapper">
    
    <resultMap type="NotificationCc" id="NotificationCcResult">
        <result property="ccId"    column="cc_id"    />
        <result property="notificationId"    column="notification_id"    />
        <result property="ccType"    column="cc_type"    />
        <result property="ccData"    column="cc_data"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>
    
    <!-- 根據通知 ID 查詢抄送對象列表 -->
    <select id="selectByNotificationId" parameterType="Long" resultMap="NotificationCcResult">
        select cc_id, notification_id, cc_type, cc_data, create_time 
        from notification_cc 
        where notification_id = #{notificationId}
    </select>
    
    <!-- 新增抄送對象 -->
    <insert id="insert" parameterType="NotificationCc" useGeneratedKeys="true" keyProperty="ccId">
        insert into notification_cc
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="notificationId != null">notification_id,</if>
            <if test="ccType != null">cc_type,</if>
            <if test="ccData != null">cc_data,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="notificationId != null">#{notificationId},</if>
            <if test="ccType != null">#{ccType},</if>
            <if test="ccData != null">#{ccData},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>
    
</mapper>
