<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.system.mapper.notification.NotificationReminderRecordMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        insert into notification_reminder_record
        (notification_id, send_record_id, student_id, parent_user_ids, remind_send_time, remind_send_status, create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.notificationId}, #{item.sendRecordId}, #{item.studentId}, #{item.parentUserIds}, #{item.remindSendTime}, #{item.remindSendStatus}, #{item.createTime})
        </foreach>
    </insert>

</mapper>
