<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.system.mapper.notification.NotificationAnswerMapper">

    <resultMap type="com.sp.system.entity.notification.NotificationAnswer" id="NotificationAnswerResult">
        <result property="answerId" column="answer_id"/>
        <result property="notificationId" column="notification_id"/>
        <result property="questionId" column="question_id"/>
        <result property="userId" column="user_id"/>
        <result property="userType" column="user_type"/>
        <result property="answerContent" column="answer_content"/>
        <result property="attachmentUrls" column="attachment_urls"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectNotificationAnswerVo">
        select answer_id, notification_id, question_id, user_id, user_type, 
               answer_content, attachment_urls, create_time
        from notification_answer
    </sql>

    <select id="selectByNotificationIdAndUserId" resultMap="NotificationAnswerResult">
        <include refid="selectNotificationAnswerVo"/>
        where notification_id = #{notificationId} and user_id = #{userId}
        order by create_time asc
    </select>

    <select id="selectByQuestionId" parameterType="Long" resultMap="NotificationAnswerResult">
        <include refid="selectNotificationAnswerVo"/>
        where question_id = #{questionId}
        order by create_time asc
    </select>

</mapper>