<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.system.mapper.notification.NotificationCcMapper">

    <resultMap type="com.sp.system.entity.notification.NotificationCc" id="NotificationCcResult">
        <result property="ccId" column="cc_id"/>
        <result property="notificationId" column="notification_id"/>
        <result property="ccType" column="cc_type"/>
        <result property="ccIds" column="cc_ids"/>
        <result property="ccNames" column="cc_names"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectNotificationCcVo">
        select cc_id, notification_id, cc_type, cc_ids, cc_names, create_time
        from notification_cc
    </sql>

    <select id="selectByNotificationId" parameterType="Long" resultMap="NotificationCcResult">
        <include refid="selectNotificationCcVo"/>
        where notification_id = #{notificationId}
        order by create_time asc
    </select>

</mapper>