<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.system.mapper.notification.NotificationReceiverMapper">

    <resultMap type="com.sp.system.entity.notification.NotificationReceiver" id="NotificationReceiverResult">
        <result property="receiverId" column="receiver_id"/>
        <result property="notificationId" column="notification_id"/>
        <result property="receiveType" column="receive_type"/>
        <result property="receiveIds" column="receive_ids"/>
        <result property="receiveNames" column="receive_names"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectNotificationReceiverVo">
        select receiver_id, notification_id, receive_type, receive_ids, receive_names, create_time
        from notification_receiver
    </sql>

    <select id="selectByNotificationId" parameterType="Long" resultMap="NotificationReceiverResult">
        <include refid="selectNotificationReceiverVo"/>
        where notification_id = #{notificationId}
        order by create_time asc
    </select>

</mapper>